html{
  background-color: #FFCCCC;
}

.contact {
    border-style: solid;
    border-width: 4px;
}

.about {
    border-style: solid;
    border-width: 4px;
}

h1{
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  color: gray;
}

.navbar{
  font: 30px;
   ;
}



