html{
  background-color: #FFCCCC;
}

.quotes {
  font-size: 35px;
    font-family: 'Cedarville Cursive', cursive;
}

.contact {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
}

.about {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
}

h1{
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  color: gray;
}

.navbar{
  font: 30px;
   border-style: solid;
    border-width: 4px;
    border-color: gray;
}

p{
  font-size: 18px;
  font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Share', cursive;
}

h2{
}

/*EVENTS CSS*/

.startup{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.live_powerfully{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.marathon{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.black_tech{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.demo_night{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.community_night{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}




