html{
  background-color: #FFCCCC;
}

.quotes {
  font-size: 35px;
    font-family: 'Cedarville Cursive', cursive;
}

.contact {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
}

.about {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    
    font-family: 'Shadows Into Light Two', cursive;
font-family: 'Share', cursive;
}

h1{
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  color: gray;
}

.navbar{
  font: 30px;
   border-style: solid;
    border-width: 4px;
    border-color: gray;
}

p{
  font-size: 20px;
  font-family: 'Satisfy', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Share', cursive;
}

h2{ font-family: 'Shadows Into Light Two', cursive;
font-family: 'Share', cursive
}

/*EVENTS CSS*/

.startup{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.live_powerfully{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.marathon{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.black_tech{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.demo_night{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.community_night{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}

/*PROGRAMS CSS*/

.sadie_nash{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.girls_who_code{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.kode_with_klossy{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.lower_east_side{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.built{
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}

/*RESOURCES*/

.Ava{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.lola{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}
.times_up{
  
 border-style: solid;
    border-width: 4px;
    border-color: gray;
}

