<!DOCTYPE html>
<html>
  <head><title>Blog</title>
          <link rel="stylesheet" type="text/css" href="css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">

  
  </head>
  <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg">
    <center>
      
      <h5>Blog!</h5>

     <div class="navbar"><h2>
  <a href="/">Home</a>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a>
  <a href="blog">Blog</a></h2>
</div>

<br>
<br>

     <div class="response1">
       
       <p> Hey Christina, Emily and Victoria! <br>I am a big fan of your site and I think it’s really great you’re taking the time to do this for girls in your community! <br>Keep up the great work. :)</p>
       </div>
       
      <br>
      
 <div class="response2">
   
<p>
Hi !! All the events and programs you posted are so interesting and I had recently participated in one. <br>Thanks for the recommendation!
</p>
</div>

<br>

<div class="response3">
  <p>
Do you have to be a New york state resident to go to the New York Fashion Tech Startup conference? 
</p>
</div>

<br>

<div class="response4">
<p>Hey, I just wanted to share with the Woman Up! community that there’s a STEM event happening soon. <br>You guys should check it out : <br>
https://nysci.org/event/stem-night-women-stem/
</p>
</div>

<br>

<div class="response5">
  <p>
Quick question-- <br> Do I need to pay to apply for kode with Klossy? <br> I’m interested in applying and would like to know if anyone has attended this camp before. </p>
     </div>
     
     </center>
  </body>
</html>