<!DOCTYPE html>
<html>
  <head><title>Blog</title>
          <link rel="stylesheet" type="text/css" href="css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">

  
  </head>
  <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg">
    <center>
      
      <h5>Blog!</h5>

     <div class="navbar"><h2>
  <a href="/">Home</a>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a>
  <a href="blog">Blog</a></h2>
</div>


     <div class="response">
       
       <p>
         
         
         fake Blog
         
       </p>
       
      
     </div>
     </center>
  </body>
</html>