<!DOCTYPE html>
<html>
  <head> 
    <title>Events</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <!-- h6 -->
     <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">
    
  </head>
  <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg"><center>
    <br>
    <div class = "heading">
    <h5>Events!</h5>
    </div>
     <div class="navbar"><h2>
  <a href="/">Home</a>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a>
  <a href="blog">Blog</a></h2>
</div>
   
    <h6>Here are some 1-day events geared towards Women!</h6>
    
    <div class = "startup">
    <h3>New York Fashion Tech Startup Conference</h3>
    <p>This event is geared towards Women who want to start, develop, and grow their start ups. </p>
    <a href = "https://www.eventbrite.com/e/new-york-fashion-tech-startup-conference-tickets-46460369215?aff=ebdssbdestsearch ">Click Here</a>
      <br>
      
    </div>
    
    <br>
    
    <div class="live_powerfully">
    <h3>Live Powerfully: An Evening for Women's Empowerment</h3>
    <p>This event is an  introduction to the landmark forum for women's empowerment  that will help you start to recognize the ways you see and engage in your world and instead gain a new way to create possibility where there was none.
    </p>
    <a href = "https://www.eventbrite.com/e/live-powerfully-an-evening-for-womens-empowerment-tickets-48172041874?aff=ebdssbdestsearch">Click Here</a>
      <br>
    </div>
    
      <br>
    
    <div class = "marathon">
    <h3>Shape Women’s Half Marathon </h3>
    <p>This event is about empowering women through Marathons.</p>
    <a href = "https://shapehalf.com/about/">Click Here</a>
      <br>
    </div>
    
    <br>
    
    <div class = "black_tech">
    <h3>The Black is Tech </h3>
    <p>This event is a continuation of the movement to create a stronger presence of the black community in the tech ecosystem. </p>
    <a href = "https://www.eventbrite.com/e/the-black-is-tech-conference-tickets-42775801574?aff=ebdssbdestsearch
">Click Here</a>
      <br>
    </div>
    
    <br>
    
    <div class = "demo_night">
    <h3>Startup Tech Summer Demo Night</h3>
    <p>The evening will showcase the recent entrepreneurship and tech launch success of this year’s Startup Tech Summer class and will feature investment pitches from students seeking additional capital to grow their ventures.
    </p>
    <a href = "https://www.eventbrite.com/e/startup-tech-summer-demo-night-tickets-48264610750?aff=ebdssbdestsearch
">Click Here</a>
      <br>
    </div>
   
    <br>
    
    <div class = "community_night">
    <h3>Women's Only Coding Community Night | Flatiron School NYC</h3>
    <p>This event focus on female coders in the New York city area to code together. </p>
    <a href = "https://www.eventbrite.com/e/womens-only-coding-community-night-flatiron-school-nyc-tickets-49087236245?aff=ebdssbdestsearc">Click Here</a>
      <br>
      
    </div>
    <br> 
    <br>
    
    </center>
  </body>
</html>
