<!DOCTYPE html>
<html>
  <head> 
    <title> Events </title>
       <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body> 
  <h1> EVENTS </h1>
  <h3> New York Fashion Tech Startup Conference </h3>
  <p> </p>
  </body>
</html>
