<!DOCTYPE html>
<html>
  <head> 
    <title> Woman Up! </title>
  </head>
  <body> 
  <center>
    
  <h1>Woman Up!</h1>
   <link rel="stylesheet" type="text/css" href="css/style.css">
   
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  
  <div class="navbar"><h2>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a></h2>
</div>




 <!--THE QUOTE GOES HERE -->
 
 <br>
 
 <div class = "about">
<h2>ABOUT US!</h2>
</div>
<br>
<br>

<div class = "contact">
<h2>CONTACT US</h2>
<p>Contact us for inquiries or share anything you may want to be posted on our blog <br>
womann.upp@gmail.com<br>
Tell us about any related events, programs, or resources around the city.<br>
Tell us your story, issues you want to raise, inspiration, advice or questions for women around the world.<br> <br>
</p>
</div1>

  </center>
  </body>
</html>
