<!DOCTYPE html>
<html>
  <head> woman-up
    <title> Woman Up! </title>
  </head>
  <body> 
  <center>
    
  <h1>Woman Up!</h1>
   <link rel="stylesheet" type="text/css" href="public/style.css">
   <ul>
  <a href="events.erb">Events</a>
  <a href="programs.erb">Programs</a>
  <a href="resources.erb">Resources</a>
</ul>

<h2>ABOUT US!</h2>

  </center>
  </body>
</html>
