<!DOCTYPE html>
<html>
  <head> 
    <title> Woman Up! </title>
  </head>
  <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg">
  <center>
    
  <h1>Woman Up!</h1>
   <link rel="stylesheet" type="text/css" href="css/style.css">
   
    <!-- link for the font of the h1-->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  
  <!-- link for the font of the h2-->

  <!-- link for the font of the p-->
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">

  <!-- link for the font of quotes-->
<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">


  <div class="navbar"><h2>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a></h2>
</div>


 <!-- QUOTE -->
 
 <br>
 
 <div class = "quotes">
   <%=
  quotes = [ "A woman is like a tea bag -- you never know how strong she is until she gets in hot water." , "The thing women have yet to learn is nobody gives you power. You just take it." , "Women are the largest untapped reservoir of talent in the world." ,  "Amazing things happen when women help other women" , "A woman with a voice is, by definition, a strong women." , "Feminism isn’t about making women strong. Women are already strong. It’s about changing the way the world perceives that strength." , "In the future, there will be no female leaders. There will just be leaders." , "A strong woman stands up for herself. A stronger woman stands up for everybody else." , "A strong woman is one who feels deeply and loves fiercely. Her tears flow as abundantly as her laughter. A strong woman is both soft and powerful, she is both practical and spiritual. A strong woman in her essence is a gift to the world." , "I’m tough, ambitious and I know exactly what I want. If that makes me a bitch, okay." , "And one day she discovered that she was fierce, and strong, and full of fire, and that not even she could hold herself back because her passion burned brighter than her fears." , "Some women are lost in the fire; some women are built from it." , "She wore her scars as her best attire. A stunning dress made of hellfire." , "Think like a queen. A queen is not afraid to fail. Failure is another stepping stone to greatness." , "Well-behaved women seldom make history." , "Keep your heels, head, and standards high." , "Define success on your own terms, achieve it by your own rules, and build a life you’re proud to live." ] 

quotes.sample
   %>
 </div>
 
 
 <br>
 <br> 
 
 <!--ABOUT US -->
 
 <div class = "about">
<h2>ABOUT US!</h2>
<p> Hi! We are girls from New York City inspired to create this site after attending an all girls summer computer science camp called Kode With Klossy. Here’s a little bit about us: 
</p>


</div>
<br>
<br>


<!--CONTACT US--> 

<div class = "contact">
<h2>CONTACT US</h2>
<p>Contact us for inquiries or share anything you may want to be posted on our blog <br>
<a href="https://mail.google.com/">womann.upp@gmail.com</a><br>
Tell us about any related events, programs, or resources around the city.<br>
Tell us your story, issues you want to raise, inspiration, advice or questions for women around the world.<br> <br>
</p>
</div1>

  </center>
  </body>
</html>
