<!DOCTYPE html>
<html>
  <head> 
  
    <title> Woman Up! </title>
  </head>
  <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg">
  <center>
    
    <br>
  <h1>Woman Up!</h1>
  
   <link rel="stylesheet" type="text/css" href="css/style.css">
   
    <!-- link for the font of the h1-->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  
  <!-- link for the font of the h2-->

  <!-- link for the font of the p-->
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">

  <!-- link for the font of quotes-->
<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">


  <div class="navbar"><h2>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a></h2>
</div>


 <!-- QUOTE -->
 
 <br>
 
 <div class = "quotes">
   <%=
  quotes = [ "A woman is like a tea bag -- you never know how strong she is until she gets in hot water." , "The thing women have yet to learn is nobody gives you power. You just take it." , "Women are the largest untapped reservoir of talent in the world." ,  "Amazing things happen when women help other women" , "A woman with a voice is, by definition, a strong women." , "Feminism isn’t about making women strong. Women are already strong. It’s about changing the way the world perceives that strength." , "In the future, there will be no female leaders. There will just be leaders." , "A strong woman stands up for herself. A stronger woman stands up for everybody else." , "A strong woman is one who feels deeply and loves fiercely. Her tears flow as abundantly as her laughter. A strong woman is both soft and powerful, she is both practical and spiritual. A strong woman in her essence is a gift to the world." , "I’m tough, ambitious and I know exactly what I want. If that makes me a bitch, okay." , "And one day she discovered that she was fierce, and strong, and full of fire, and that not even she could hold herself back because her passion burned brighter than her fears." , "Some women are lost in the fire; some women are built from it." , "She wore her scars as her best attire. A stunning dress made of hellfire." , "Think like a queen. A queen is not afraid to fail. Failure is another stepping stone to greatness." , "Well-behaved women seldom make history." , "Keep your heels, head, and standards high." , "Define success on your own terms, achieve it by your own rules, and build a life you’re proud to live." ] 

quotes.sample
   %>
 </div>
 
 
 <br>
 <br> 
 
 <!--ABOUT US -->
 
 <div class = "about">
   <h2><b>ABOUT US!</b></h2>
<p> Hi! We are girls from New York City inspired to create this site after attending an all girls summer computer science camp called Kode With Klossy. <br>
Here’s a little bit about us (left to right): 
</p>
      <!--CHRIS BIO PHOTO-->
<img src= "https://drive.google.com/file/d/0B6NOC2Tdhg5OeEFXTHdFc3lEajVrUHVGVDVSRlU1RmNKeXFB/view?usp=sharing" alt="chris" height="200" width= "150">

      <!--EMILY BIO PHOTO--> 
<img src= "https://drive.google.com/file/d/0B6NOC2Tdhg5OWDJncGZPV09sRkxFZTlNbGlLZ053dWFDeFQw/view?usp=sharing" alt="em" height="200"  width="150">

      <!--VICTORIA BIO PHOTO-->
<img src= "https://drive.google.com/file/d/0B6NOC2Tdhg5OeVdiMFY5OFZydGp6Wm55bkJacDdvaHJuQjA4/view?usp=sharing" alt="vic" height="200" width="150">      

<br>
<br>

      <!--CHRIS DESC-->
<p> 
  <h3> Christina Sherpa</h3> 
  Hello, I’m Christina! <br> You can often catch me eating or binge watching netflix. When I’m not being a couch potato I like to play basketball and volleyball, and travel. <br>I want to major in CS and eventually become a Project Manager. I’m super excited to see the outcome of our project! <br> I hope to encorage girls around to world to pursue what they love.
</p>      

    <!--EMILY DESC-->
<p>
  <h3> Emily Wu </h3>
  Hey, I’m Emily :) <br> I like painting, travelling, shopping, makeup, and good coffee. <br> I try to pick up random new hobbies and coding was one of them. <br>Since I’ve become interested I’ve become inspired by all the girl bosses around me to create this site with Christina and Victoria. <br>I believe it’s so powerful watching girls take the world by storm and doing things that make such a great difference.
</p>    

    <!--VICTORIA DESC-->
<p>
  <h3> Victoria Boulin </h3>
  Hi,  I’m Victoria. <br>I like to read, write, love fashion and now I like to code . <br>I believe in women empowering each other to make the world a better place. <br>I am inspired by all the women who were not afraid to take risk and follow their dreams.  <br> My co-founders (Emily and Christina) and I wanted to create this website to inspire other girls to dream of the impossible.
</p>    
<br>

<p> Woman Up! is a site created to connect with women from around the city. We want to encourage women to take risks and <br> step outside their comfort zone. However, we also want to create a sense of community and support system. <br>We want women of all ages to connect and realize how powerful they are when working together. Here on our site, we have links to events, programs, <br>and resources for women to get involved with. We want to help women become a larger part of the STEM field and the community. Woman lift other <br>women and that’s a big part of our goal to bring women together. We depend on our users to inform our community of strong women about <br>events/programs that they would like to share. We also hope that users would contribute to our blog by reaching out to us with our contact info. <br>Together, we can create something much larger than all of us and help women advance toward future endeavors. 
</p>
<br>
</div>

<br>
<br>


<!--CONTACT US--> 

<div class = "contact">
<h2><b>CONTACT US</b></h2>
<p>Contact us for inquiries or share anything you may want to be posted on our blog <br>
<a href="https://mail.google.com/">womann.upp@gmail.com</a><br>
Tell us about any related events, programs, or resources around the city.<br>
Tell us your story, issues you want to raise, inspiration, advice or questions for women around the world.<br> <br>
</p>
</div1>

  </center>
  
  </body>
</html>
