<!DOCTYPE html>
<html>
  <head> 
    <title> Woman Up! </title>
  </head>
  <body> 
  <center>
    
  <h1>Woman Up!</h1>
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <ul>
  <a href="events">Events</a>
  <a href="programs">Programs</a>
  <a href="resources">Resources</a>
</ul>

 <!--THE QUOTE GOES HERE -->
 
<h2>ABOUT US!</h2>
<div1>
<h2>CONTACT US</h2>
<p>Contact us for inquiries or share anything you may want to be posted on our blog 
womann.upp@gmail.com
Tell us about any related events, programs, or resources around the city.
Tell us your story, issues you want to raise, inspiration, advice or questions for women around the world.
</p>
</div1>

  </center>
  </body>
</html>
