<!DOCTYPE html>
<html>
  <head> <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg">
    <title>Programs</title>
     <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body><center>
    <h2>PROGRAMS!</h2>
    
    <h3>Here are some programs events geared towards Girls!</h3>
    
    <div class = "sadie_nash">
    <h3>Sadie Nash </h3>
    <p>Sadie Nash is a  Leadership Project founded in 2001 to promote leadership and activism among young women. </p>
    <a href = "http://www.sadienash.org/">Click Here</a>
      <br>
      
    </div>
    
    <br>
    
    <div class="girls_who_code">
    <h3>Girls Who Code</h3>
    </p>Girls Who Code was founded with a single mission:
      to close the gender gap in technology. They offer free classes and clubs. </p>
    <a href = "https://girlswhocode.com/">Click Here</a>
      <br>
    </div>
    
      <br>
    
    <div class = "kode_with_klossy">
    <h3>Kode With Klossy</h3>
    <p>Kode With Klossy was founded by Karlie Kloss to empowers girls to learn to code and become leaders in tech.</p>
    <a href = "https://www.kodewithklossy.com/">Click Here</a>
      <br>
    </div>
    
    <br>
    
    <div class = "lower_east_side">
    <h3>The Lower East Side Girls Group </h3>
    <p>The Lower Eastside Girls Club connects girls and young women to healthy and successful futures. They offer a safe haven with free programs in the arts, sciences, leadership, entrepreneurship, and wellness for middle and high school girls. </p>
    <a href = "https://girlsclub.org/about-us/">Click Here</a>
      <br>
    </div>
    
    <br>
    
    <div class = "built">
    <h3>#BUILTBYGIRLS Wave</h3>
    <p>Wave is a program where a high school or college student is matched with tech professionals.
    </p>
    <a href ="https://www.builtbygirls.com/programs/wave">Click Here</a>
      <br>
    </div>
<br> 
 <a href="/">Home</a>
 <br>
    </center>
  </body>
</html>
    
