<!DOCTYPE html>
<html>
  <head> 
    <title>Resources </title>
     <link rel="stylesheet" type="text/css" href="css/style.css">
     <!-- h6 -->
     <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light+Two|Share" rel="stylesheet">
     
     
  </head>
   <body background= "https://i.pinimg.com/originals/74/f6/17/74f6170934831a6c499ee2eb791dcf1c.jpg"> <center>  
   <br>
   <div class = "heading">
    <h2> RESOURCES! </h2> 
   </div>
    
    
   <br>
   <div class="navbar"><h2>
  <a href="/">Home</a>
  <a href="events">Events</a>
  <a href="programs">Programs</a></h2>
</div>

<h6>Here are some resources!</h6>

   <div class = "Ava">
    <h3>Hello Ava: Skin Care Product </h3>
    <p>Ava recommends products by understanding your skin's unique characteristics through their online quiz. Their scientific expertise and extensive ingredient library boost the accuracy of your personalized recommendations. </p>
    <a href = "https://helloava.co/">Click Here</a>
      <br>
    </div>
      <br>
    
<div class="lola">
    <h3>Lola: Sexual and Reproductive Health </h3>
    <p>Lola lists out all the ingredients of the product since women deserve to know what we’re putting in our body. Shop period and sexual health products with no mystery ingredients.
</p>
    <a href = "https://www.mylola.com/
">Click Here</a>
      <br>
    </div>
    
<br>
    
    <div class="times_up">
    <h3>Time's Up: Legal Defense Fund 
      </h3>
    <p>Time's up legal defense fund is housed at and administered by the National Women’s Law Center, an established, national women’s rights legal organization. A network of lawyers and public relations professionals across the country will work to provide assistance to those who have experienced harassment or retaliation.
</p>
    <a href = "https://www.timesupnow.com/
">Click Here</a>
      <br>
    </div>  
    
  <br> 
 <br>
 
    </center> 
  </body>
    </html>